body{
    margin: 0px;
   /* width: max-content;*/
    align-items: right;
    overflow-x: hidden;
}

.one{
	display: inline-block;
    width: -webkit-fill-available;
    position: relative;
}

#video{
    width: 217vh;
    display: inline-block;
    width: -webkit-fill-available;
    position: relative;
}

.head{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	
}

.head a{
	color: white;
    margin: -1em 0em 0em 2em;
    font-size: 22px;
    font-weight: 500;
    font-family: sans-serif;
    text-decoration: none;
}
.head img{
	width: 15rem;
    height: 8rem;
    margin-left: 3em;
}

.icons{
	display:inline-flex;
	position: relative;
	margin-left: 2em;
}

.icons a{
	margin: -2em -1em 0em;
	text-decoration: none;
	
}

.icons img{
	width: 2rem !important;
    height: 2rem !important;
    margin-top: 1em;
}

.contentHome{
    float: right;
    width: 50%;
    justify-content: flex-end;
    margin-top: -57%;
    position: inherit;
    z-index: 1;
}

.main{
    position: relative;
    text-align: center;
    justify-content: center;
    margin-top: 37.5%;
}

.main h1{
	color: white;
    font-size: 75px;
    text-align: center;
    margin-top: -6%;
    font-family: sans-serif;
}

.main h2{
	color: white;
    font-size: 110px;
    text-align: center;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}

.main h3{
	color: white;
    font-size: 31px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    margin-top: -1em;
}

.btn{
    position: relative;
    display: flex;
    float: right;
}

.btn button{
    border-radius: 6px;
    width: 7em;
    height: 2.7em;
    margin-left: 0.5em;
    margin-right: 1em;
    margin-top: 1em;
    font-size: medium;
    font-weight: bolder;
    background-image: linear-gradient(87deg,#5ddaff,#3672e3);
    text-decoration: none;
    color: white;
    border: none;
    cursor: pointer;
}

.setaHome{
	justify-content: flex-end;
    margin-top: 31%;
    margin-left: -4%;
    width: 5em;
    position: absolute;
    z-index: 1;
    transform: rotate(180deg);
}

.two{
	display: inline-block;
    width: -webkit-fill-available;
    height: 63em;
    position: relative;
}

.bgTwo{
    height: 63em;
}

.three{
	display: inline-block;
    width: -webkit-fill-available;
    height: 63em;
    position: relative;
}

.bgThree{
	background-color: #459bee;
    height: 63em;
}

.four{
	display: inline-block;
    width: -webkit-fill-available;
    height: 63em;
    position: relative;
}

.bgfour{
    height: 63em;
}

footer{
	color: white;
	height: 20em;
	width: auto;
	background-color: #101a3e;
	font-family: sans-serif;
}

#bgFooter{
	    display: grid;
    grid-template-areas: "a b c d";
    padding-top: 8em;
}

footer img{
	width: 26em;
    height: 15em;
    margin-top: -15%;
}

.mediaSociais{
	display: inline-flex;
    font-size: 24px;	
}

.mediaSociais h3{
	font-size: 24px;
}

footer h2{
    font-size: 24px;
}

.sobre{
	display: block;
    text-align: center;
    width: 10em;
}

.sobre h3{
	font-size: 24px;
}

.sobre h4{
	font-size: 18px;
	font-weight: 500;
}

.end{
	display: inline-flex;
	margin-top: -5%;
}

.end img{
	width: 4em;
    height: 4em;
    margin-top: 1em;
    margin-left: 1em;
}

.end h4{
	text-align: center;
    font-family: sans-serif;
    margin-top: 7vh;
    font-size: 12px;
    color: black;

}

.end b{
	color: #3672e3c7;
}
