
			* {box-sizing: border-box}
			body {font-family: Verdana, sans-serif; margin:0}
			.mySlides {display: none}
			img {vertical-align: middle;}
			
			/* Slideshow container */
			.slideshow-container {
			  max-width: 1000px;
			  position: relative;
			  margin: auto;
			}
			
			/* Next & previous buttons */
			.prev, .next {
			  cursor: pointer;
			  position: absolute;
			  top: 50%;
			  width: auto;
			  padding: 16px;
			  margin-top: -22px;
			  margin-left: 8em;
			  color: white;
			  font-weight: bold;
			  font-size: 18px;
			  transition: 0.6s ease;
			  border-radius: 0 3px 3px 0;
			  user-select: none;
			}
			
			/* Position the "next button" to the right */
			.next {
			  right: 0em;
			  border-radius: 3px 0 0 3px;
			}
			
			/* On hover, add a black background color with a little bit see-through */
			.prev:hover, .next:hover {
			  background-color: rgba(0,0,0,0.8);
			}
			
			/* Caption text */
			.text {
			  color: #f2f2f2;
			  font-size: 15px;
			  padding: 8px 12px;
			  position: absolute;
			  bottom: 8px;
			  width: 100%;
			  text-align: center;
			}
			
			/* The dots/bullets/indicators */
			.dot {
			  cursor: pointer;
			  height: 15px;
			  width: 15px;
			  margin: 0 2px;
			  background-color: #bbb;
			  border-radius: 50%;
			  display: inline-block;
			  transition: background-color 0.6s ease;
			}
			
			.active, .dot:hover {
			  background-color: #717171;
			}
			
			/* Fading animation */
			.fade {
			  -webkit-animation-name: fade;
			  -webkit-animation-duration: 1.5s;
			  animation-name: fade;
			  animation-duration: 1.5s;
			}
			
			@-webkit-keyframes fade {
			  from {opacity: .4} 
			  to {opacity: 1}
			}
			
			@keyframes fade {
			  from {opacity: .4} 
			  to {opacity: 1}
			}
			
			/* On smaller screens, decrease text size */
			@media only screen and (max-width: 300px) {
			  .prev, .next,.text {font-size: 11px}
			}
.carroussel img{
	width: 25em;
    height: 32em;
    margin-left: 9em;
    margin-top: 5em;
}

.petmais{
	display: grid;
	grid-template-areas: "a b";
	width: 52%;
}

#texto{
	display: grid;
    grid-template-areas: "a b";
    margin-left: auto;
    margin-right: auto;
}
.description{
	width: 38em;
}

.title{
	border-bottom: solid 2px grey;
	display: inline-flex;
    text-align: center;
    margin-top: 7em;
    margin: 7em 16em 0em;
    padding: 0em 1.5em;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 17em;
}

.title img{
	width: 5em;
    height: 5em;
}

.title h1{
	font-family: sans-serif;
	color: darkblue; 
	margin-left: auto;
    margin-right: auto;
}

.info{
	display: block;
    text-align: center;
    width: 22em;
    margin-left: 12em;
    margin-top: 1em;
    margin-right: auto;
}

.info h2{
	font-family: sans-serif;
    color: darkblue;
    font-size: 1.55em; 
}

.info p{
	font-family: sans-serif;
    color: darkblue;
    font-weight: bolder;
    text-align: center;
    margin-left: 1em;
}

.description button{
	border-radius: 10px;
    width: 10em;
    height: 3em;
    margin-top: 1em;
    display: flex;
    float: right;
    padding-left: 2em;
    font-weight: 700;
    margin-right: 6em;
    font-size: 19px;
    background-image: linear-gradient(87deg,#5ddaff,#3672e3);
    border: solid 2px #3672e3;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    border: none;
}

			